html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    touch-action: pan-y;
    background-color: var(--body-color);
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}