html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    touch-action: pan-y;
    background-color: var(--body-color);
    -webkit-tap-highlight-color: transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* ⁡⁣⁢⁣MAP⁡ */
@media screen and (max-width: 1023px) {
    .map {
        height: 16rem;
    }
}